<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.hereisderek.androidutil" >

    <application>
        <provider
            android:name=".base.LibInit"
            android:authorities="${applicationId}.libinitprovider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
